<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <style>
      /* Style the navigation bar */
      nav {
        background-color: #333;
        overflow: hidden;
      }
      
      /* Style the links inside the navigation bar */
      nav a {
        float: left;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the color of links on hover */
      nav a:hover {
        background-color: #ddd;
        color: black;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
        integrity="sha384-foSTcJthj6+kFbX9I/u/gLYa64TEdLl6ZPlc6Llfs6I2U6nruMRRz2s53i02Bbl"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    {% endwith %}
    
    <nav>
        <a href="/">Home</a>
        <a href="/add_person">Add Person</a>
        <a href="/edit_person">Edit Person</a>
        <a href="/delete_person">Delete Person</a>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
  </body>
</html>