{% extends "base.html" %}

{% block content %}
  <h1 class="text-center">List of People</h1>
  <table class="table table-striped table-bordered text-center" style="width:50%; margin: auto;">
    <thead class="thead-dark">
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
    </thead>
    <tbody>
      {% for person in people %}
        <tr>
          <td>{{ person.id }}</td>
          <td>{{ person.firstname }}</td>
          <td>{{ person.lastname }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center">
          <h2>Delete Person</h2>
        </div>
        <div class="card-body">
          <form action="{{ url_for('views.delete_person') }}" method="POST">
            <div class="form-group text-center">
              <label for="id">Enter the ID of the person you want to delete:</label>
              <input type="text" class="form-control mx-auto" id="id" name="id" placeholder="Enter ID" style="width: 200px;">
            </div>
            <button type="submit" class="btn btn-danger mx-auto d-block">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}